[submodule "ext/serialization"]
	path = ext/serialization
	url = git://github.com/dylan-foundry/serialization.git
[submodule "test"]
	path = ext/http
	url = git://github.com/dylan-foundry/http.git
	branch = misc-fixes
